<ion-content padding>
  <!-- What are you looking for? -->
  <div *ngIf="!whichDogScreen">
    <h3 text-center padding>What are you looking for?</h3>
    <ion-grid>
      <ion-row text-center align-items-center class="breeding" (click)="check('breeding')">
        <ion-col>
          <div>
            <h4>Breeding</h4>
          </div>
        </ion-col>
      </ion-row>
      <ion-row text-center align-items-center class="play-date" (click)="check()">
        <ion-col>
          <div>
            <h4>Play Date</h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Which dog -->
  <div *ngIf="whichDogScreen">
    <h3 text-center padding>Which dog is looking {{choice}}?</h3>
    <ion-grid>
      <!-- TODO: put image of dog in a card along with their name -->
      <ion-row text-center align-items-center *ngFor="let dog of dogs" (click)="pickDog(dog)">
        <ion-col>
          <div>
            <h4>{{dog.name}}</h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
