page-looking-for {
  ion-content {
    // TODO: figure out background -- Maybe a background image? Not sure yet
    background-color: rgb(218, 218, 218) !important;
  }
  ion-row {
    height: 200px;
    margin: 10px 0;
    border-radius: 4px;
    &.breeding {
      background: linear-gradient(0deg, rgba(4, 21, 51, 0.6), rgba(4, 21, 51, 0.6)), url("../../assets/breeding.jpg");
      background-size: cover;
      background-position: 50% 50%;
    }
    &.play-date {
      background: linear-gradient(0deg, rgba(4, 21, 51, 0.6), rgba(4, 21, 51, 0.6)), url("../../assets/play-date.jpg");
      background-size: cover;
      background-position: 50% 50%;
    }
    h1 {
      color: color($colors, white, base);
      font-size: 48px;
    }
  }
}
