page-create-profile {
  ion-content {
    background: color($colors, light) !important;
  }
  ion-card.card {
    margin: 0;
  }
  img {
    &.user-avatar {
      width: 200px;
      margin: 0 auto 10px;
    }
  }
}
