page-looking-for-breeding {
  ion-slides,
  .swiper-container {
    height: 300px;
    width: auto;
  }
  .swiper-slide {
    background-size: cover !important;
    background-position: center !important;
    width: 100% !important;
  }
  .swiper-pagination-bullet-active {
    background: color($colors, pink);
  }
  ion-card {
    border-radius: 0 !important;
    margin: 0px 0px 30px 0px;
    width: 100%;
    display: block;
    &:last-child {
      margin: 0;
    }
  }
  p {
    &.age {
      font-weight: 500;
    }
  }
}
