<ion-header>
    <ion-navbar transparent  [class.header-background]="showToolbar"  > 
        <ion-buttons  (click)="closeModal()" >
            <button color="light" ion-button icon-only>
                <ion-icon name="md-close"></ion-icon>close
            </button>
        </ion-buttons> 
    </ion-navbar>
</ion-header>

<ion-content  no-padding  class="content" (ionScroll)="onScroll($event)" [class.transition]="transition"  >

    <div class="image-header" [ngStyle]="{'background-image': 'url(' + (map | async)?.image + ')'}">
          <h2 class="image-name "> {{(map | async)?.name}}</h2>      
          <ion-fab  bottom right edge class="hello pop-in" (click)="addToFav('bottom')">
            <button ion-fab color="amber"><ion-icon name="ios-heart-outline"></ion-icon></button>
          </ion-fab>
    </div>

      <ion-card>
        <ion-card-header>
          Description
        </ion-card-header>
        <ion-card-content>
          <div [innerHTML]="(map | async)?.description"></div>
          <!--<div >{{(item | async)?.description}}</div>-->
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Contact
        </ion-card-header>
          <div class="info">
            <ion-list no-lines>
              <ion-item>
                  <ion-icon name="ios-pin-outline" item-left  color="darkGray" ></ion-icon>
                  <h2>Address</h2>
                  <h2>{{(map | async)?.address}} </h2>
              </ion-item>

              <ion-item>
                  <ion-icon name="ios-call-outline" item-left  color="darkGray" ></ion-icon>
                  <h2>Phone</h2>
                  <h2>{{(map | async)?.phone}} </h2>
              </ion-item>

              <ion-item>
                  <ion-icon name="ios-mail-outline" item-left  color="darkGray" ></ion-icon>
                  <h2>E-mail</h2>
                  <h2>{{(map | async)?.email}} </h2>
              </ion-item>

              <ion-item>
                  <ion-icon name="ios-globe-outline" item-left  color="darkGray" ></ion-icon>
                  <h2>Website</h2>
                  <h2>{{(map | async)?.web}} </h2>
              </ion-item>

              <ion-item>
                  <ion-icon name="ios-navigate-outline" item-left  color="darkGray" ></ion-icon>
                  <h2>Gps position</h2>
                  <h2>{{(map | async)?.lat}},{{(map | async)?.lng}}</h2>
              </ion-item>
            </ion-list>
          </div>
      </ion-card>

      <ion-card>
          <ion-card-header>
          Amenities
          </ion-card-header>
        <ion-card-content>
          <div [innerHTML]="(map | async)?.amenities" ></div>
          <!--<div >{{(item | async)?.description}}</div>-->
        </ion-card-content>
      </ion-card>

</ion-content>
