page-map-sub-detail {
  .content{
    background-color: #cccccc;
  }
  .scroll-content{
    margin-top: 0 !important;
    padding-top: 44px;
  }
  ion-navbar{
    height: 44px;
  }
  ion-toolbar{
    height:44px;
  }
  scroll-content {
      padding-top: $toolbar-ios-height + 20px; // extra padding for the ios statusbar
      padding-bottom: $toolbar-ios-height; // Padding for the Tabbbar (only needed if tabbar is used)
  }
  .toolbar-title {
      color:#FFFFFF;
  }
  ion-navbar{
    transition: all .5s;
    .back-button,.bar-button{
      //text-shadow: 0 0 5px #000000;
      color: #fff;
    }
  }

  .image-header:before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 68%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 68%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 68%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  }
  .image-header {
      position: relative;
      height: 300px;
      background: url(img/1.jpg) no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .image-header .image-name {
      font-size: 22px;
      font-weight: normal;
      color: #FFFFFF;
      position: absolute;
      left: 20px;
      bottom: 35px;
      text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .info{
      padding: 10px 20px 20px 10px;
  }
 
 //************ Fading header  **********//
  .header-md::after{
    background-image: none;
  }
  .header-background{
    border-style: none;
    background : color($colors, lightblue)
  }
  .transition{
    transition: background-size .1s ease-in;
  }

}
