page-dog-search-modal {
  .fixed-content, .scroll-content {
    margin: 0 !important;
  }
  ion-content {
    background-color: color($colors, light) !important;
  }
  ion-card.card {
    &:last-of-type {
      margin: 0;
    }
  }
}
