<header-bar [title]="dogProfile.name" [dog-profile]="true" [gender]="dogProfile.gender"></header-bar>
<ion-content>
  <dog-card [uid]="uid" [dog]="dogProfile" [favorites]="profileArray.favorites"></dog-card>

  <!--***********  Segement tabs ***********-->
  <ion-segment mode="md" [(ngModel)]="segmentView" color="blue2">
    <ion-segment-button value="one">
      <ion-icon name="images"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="two">
      <ion-icon name="paw"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!--***********  Segement one ***********-->
  <ion-grid *ngIf="segmentView==='one'">
    <ion-row wrap color="gray">
      <ion-col col-6 *ngFor="let image of dogProfile.photos, let i = index">
        <img tappable class="expanded-image" src={{image.url}} (click)="fullscreenImage(i)" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--***********  Segment two  ***********-->
  <div *ngIf="segmentView==='two'">
    <ion-list no-lines padding>
      <ion-list-header>
        <h2>Info</h2>
      </ion-list-header>
      <ion-item>
        <ion-icon name="person" item-left></ion-icon>
        <h4>Owner</h4>
        <p>{{owner.name}}</p>
        <button ion-button class="primary-outline" outline (click)="seeProfile()">see profile</button>
      </ion-item>
      <ion-item>
        <ion-icon [name]="dogProfile.gender === 'male' ? 'male' : 'female'" item-left></ion-icon>
        <h4>Gender</h4>
        <p>{{dogProfile.gender | capitalize}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="eye" item-left></ion-icon>
        <h4>Eye Color</h4>
        <p>{{dogProfile.eyes | capitalize}}</p>
      </ion-item>
      <ion-item>
        <ion-icon [name]="dogProfile.fixed=== false ? 'happy' : 'sad'" item-left></ion-icon>
        <h4>Neutered / Spayed</h4>
        <p>{{dogProfile.fixed ? 'Yes' : 'No'}}</p>
      </ion-item>
      <ion-item *ngIf="!dogProfile.fixed">
        <ion-icon name="flame" item-left></ion-icon>
        <h4>Willing to Breed</h4>
        <p>{{dogProfile.couldBreed ? 'Yes' : 'No'}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="paper" item-left></ion-icon>
        <h4>Papered</h4>
        <p>{{dogProfile.papered ? 'Yes' : 'No'}}</p>
      </ion-item>
      <ion-item *ngIf="dogProfile.papered">
        <ion-icon name="clipboard" item-left></ion-icon>
        <h4>AKC Registered</h4>
        <p>{{dogProfile.registered ? 'Yes' : 'No'}}</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
