<ion-header no-border>
  <ion-navbar color="white" style="background: none; border-bottom: none">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dog Owner
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div id="profile-info" padding>
    <img id="profile-image" class="pop-in" src="{{(profile | async)?.photo || 'http://placehold.it/200x200'}}" />
    <h3 id="profile-name">{{(profile | async)?.name}}</h3>
    <p>{{(profile | async)?.city}}, {{(profile | async)?.state}}</p>
    <button ion-button *ngIf="!messageSent" block class="primary" (click)="message()">Message</button>
    <button ion-button icon-left *ngIf="messageSent" block color="gray" (click)="message()">
      <ion-icon name="checkmark"></ion-icon>
      Message Sent
    </button>
  </div>


  <!--***********  About  ***********-->
  <ion-list no-lines text-wrap padding *ngIf="profileArray.description">
    <ion-list-header>
      <h2>About</h2>
    </ion-list-header>
    <ion-item>
      <p>{{profileArray.description}}</p>
    </ion-item>
  </ion-list>

  <!--***********  Dogs  ***********-->
  <ion-row class="list-of-dogs">
    <!-- <dog-card *ngFor="let dog of dogs" [dog]="dog"></dog-card> -->
    <ion-card *ngFor="let dog of dogs">
      <ion-slides pager (click)="seeProfile(dog)">
        <ion-slide *ngFor="let photo of dog.photos" [ngStyle]="{'background' : 'url(' + photo.url + ')'}">
        </ion-slide>
      </ion-slides>
      <ion-card-content (click)="seeProfile(dog)">
        <ion-card-title>
          {{dog.name}}
        </ion-card-title>
        <ion-row justify-content-between>
          <p class="age">{{dog.birthdate | age}}</p>
          <ion-icon [name]="dog.gender === 'male' ? 'male' : 'female'" item-left class="gender-icon" [ngClass]="dog.gender === 'male' ? 'male' : 'female'"></ion-icon>
        </ion-row>
        <p *ngIf="dog.description">{{dog.description}}</p>
        <p *ngIf="!dog.description">No description available</p>
      </ion-card-content>
      <ion-row justify-content-between>
        <button ion-button icon-left clear [color]="!dog.liked ? 'gray' : 'red'">
          <ion-icon name="heart"></ion-icon>
        </button>
      </ion-row>
    </ion-card>
  </ion-row>

</ion-content>
