page-profile {
  profileHeader {
    color: #333;
    font-size: 18px;
  }
  #profile-image {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 110px;
    margin: 0 auto 0;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-image: initial;
  }
  #profile-info {
    width: 100%;
    text-align: center;
    padding: 16px 32px;
  }
  #profile-name {
    color: #444;
    font-size: 22px;
  }
  .profile1-description {
    font-size: 15px;
    color: #888;
  }

  .profile1-numbers {
    p {
      color: #888;
      font-size: 18px;
      margin-top: 3px;
    }
    span {
      font-weight: bold;
      font-size: 18px;
      color: #34354c;
    }
  }

  ////////////////////////////
  ion-label {
    white-space: inherit;
  }
  .gender-icon {
    width: 12px;
  }
  .list-header {
    margin: 0;
    border: none;
  }
  .list-of-dogs {
    background-color: color($colors, light) !important;
  }
  dog-card {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
