<ion-header no-border>
  <ion-navbar color="white" style="background: none; border-bottom: none">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dog Owner
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div id="profile-info">
    <img id="profile-image" class="pop-in" src="{{profileArray.photo || 'http://placehold.it/200x200'}}" />
    <h3 id="profile-name">{{profileArray.name}}</h3>
    <p>{{profileArray.city}}, {{profileArray.state}}</p>
    <button ion-button block class="primary" (click)="message()">Message</button>
  </div>


  <!--***********  About  ***********-->
  <ion-list no-lines text-wrap padding *ngIf="profileArray.description">
    <ion-list-header>
      <h2>About</h2>
    </ion-list-header>
    <ion-item>
      <p>{{profileArray.description}}</p>
    </ion-item>
  </ion-list>

  <!--***********  Dogs  ***********-->
  <ion-row class="list-of-dogs">
    <dog-card *ngFor="let dog of dogs" [dog]="dog" [uid]="currentUserUid" [show-message]="false"></dog-card>
  </ion-row>

</ion-content>
