<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle *ngIf="true">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div id="profile-info" padding>

    <img id="profile-image" class="pop-in" src="{{(profile | async)?.photo || 'http://placehold.it/200x200'}}" />
    <h3 id="profile-name">{{(profile | async)?.name}}</h3>
    <p>{{(profile | async)?.city}}, {{(profile | async)?.state}}</p>
    <button ion-button *ngIf="!messageSent" block color="green" (click)="message()">Message</button>
    <button ion-button icon-left *ngIf="messageSent" block color="gray" (click)="message()">
      <ion-icon name="checkmark"></ion-icon>
      Message Sent
    </button>

  </div>


  <!--***********  About  ***********-->
  <ion-list no-lines text-wrap>
    <ion-list-header>
      <h2>About</h2>
    </ion-list-header>
    <ion-item>
      <p>{{(profile | async)?.description}}</p>
    </ion-item>
  </ion-list>

  <!--***********  Dogs  ***********-->
  <ion-list>
    <ion-item *ngFor="let dog of profileArray.dogs; let i = index" (click)="goToDogProfile(dog, i)">
      <ion-avatar item-start>
        <img src="http://placehold.it/50x50">
      </ion-avatar>
      <h2>{{dog.name}} <img [src]="dog.gender === 'male' ? '/assets/male.png' : '/assets/female.png'" class="gender-icon" /></h2>
      <h3>{{dog.breed | commaSpace}}</h3>
      <p>{{dog.age}} year{{dog.age > 1 ? 's' : null}} old</p>
    </ion-item>
  </ion-list>

</ion-content>
