<ion-header class="hello1">
  <ion-navbar color="blue2" style="background: none; border-bottom: none">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Profile</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
            <ion-icon name="md-more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-row padding>
    <ion-col col-3>
      <!--<img src="{{(profile | async)?.imgProfile}}" class="avatar" alt="">-->
         <ion-avatar class="avatar">
              <img src="{{(profile | async)?.imgProfile}}" class="avatar"/>  
          </ion-avatar>    
    </ion-col>
    <ion-col col-3 text-center>
      <h5>21</h5>
      <p no-padding no-margin>posts</p>
    </ion-col>
    <ion-col col-3 text-center>
      <h5>114</h5>
      <p no-paddin no-margin>followers</p>
    </ion-col>
    <ion-col col-3 text-center>
      <h5>119</h5>
      <p no-paddin no-margin>following</p>
    </ion-col>
  </ion-row>

  <ion-row no-padding no-margin>
    <ion-col no-padding no-margin col-4></ion-col>
    <ion-col no-padding no-margin text-center col-8>
      <!--<button class="follow-button" icon-left (click)="goEditProfile()">Follow</button>-->
      <button ion-button class="follow-button" *ngIf="!following"  block  (click)="follow()">Follow</button>
      <button ion-button class="follow-button-active" icon-left *ngIf="following"  block  (click)="follow()">
        <ion-icon name="checkmark"></ion-icon>
        Following
      </button>
    </ion-col>
    <ion-col col-3></ion-col>
  </ion-row>


  <div padding>
    <p no-margin no-padding><b>{{(profile | async)?.name}}</b></p>
    <p no-padding no-margin class="info">{{(profile | async)?.aboutMe}}</p>
    <!--<p no-padding no-margin color="blue2"><a href="#">{{(profile | async)?.facebook}}</a></p>-->
  </div>

  <!--***********  Segement tab ***********-->
  <ion-segment mode="md" [(ngModel)]="segmentView" color="blue2">
    <ion-segment-button value="one">
      <ion-icon name="ios-apps"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="two">
      <ion-icon name="md-list" md="md-glasses"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="three">
      <ion-icon name="ios-bookmark" md="md-at"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!--***********  Segement one ***********-->
  <ion-grid *ngIf="segmentView==='one'">
    <ion-row wrap color="gray">
      <ion-col col-4 *ngFor="let image of imgGalleryArray  ,let i = index  ">
        <img src={{image.url}} />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--***********    Segement two  ***********-->
  <div *ngIf="segmentView==='two'">
    <ion-list no-lines padding>
      <ion-list-header>
        <h2>Friend</h2>
      </ion-list-header>
      <ion-item *ngFor="let friend of friends | async" padding-bottom>
        <ion-avatar item-left>
          <img [src]="friend.profileImg">
        </ion-avatar>
        <h2>{{friend.name}}</h2>
      </ion-item>
    </ion-list>
  </div>

  <!--***********  Segment three  ***********-->
  <div *ngIf="segmentView==='three'">
    <ion-list no-lines padding>
      <ion-list-header>
        <h2>Contact</h2>
      </ion-list-header>
      <ion-item>
        <ion-icon name="ios-mail" item-left></ion-icon>
        <h2>ceo@cemo.com</h2>
        <p>work email</p>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-call" item-left></ion-icon>
        <h2>009923124322</h2>
        <p>mobile phone</p>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-linkedin" item-left></ion-icon>
        <h2>linkedin.com/cemo</h2>
        <p>linked in </p>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-facebook" item-left></ion-icon>
        <h2>facebook.com/cemo</h2>
        <p>facebook</p>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-skype" item-left></ion-icon>
        <h2>cemo@outlook.com</h2>
        <p>skype</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>