
<ion-header>
      <ion-navbar color="lightblue">
        <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Hotel Tonight
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showMapMarker()">
                <ion-icon name="map"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding >
  
    <ion-card  *ngFor="let mapList of mapList | async" >

         <div class="img-map-wrapper">   
            <img tappable src="https://maps.googleapis.com/maps/api/staticmap?center={{mapList.lat}},{{mapList.lng}}&zoom=15&scale=2&size=400x300&maptype=roadmap&format=png&visual_refresh=true" (click)="showDetail(mapList.$key)" />
         </div>

          <ion-list no-lines>
            <ion-item>

              <ion-avatar item-left>
                    <img src="{{mapList.image}}">
              </ion-avatar>
              
              <h2>{{mapList.name}}</h2>
              <p>{{mapList.openDate}}</p>

              <ion-badge item-right>rating:{{mapList.rating}}</ion-badge>

            </ion-item>
          </ion-list>

      </ion-card>
      <div style="height:50px;"></div>
</ion-content>