page-grid {

  ion-col div {
    background-color: #ccc;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    height: 80px;
  }

  p {
    padding: 10px 0 0 10px !important;
    margin: 0;
  }
}
