page-theme {
  .item-md  .item-button {
        padding: 0 .5em;
        height: 40px !important;
        width: 80px;
        font-size: 12px;
    }
  .item-ios .item-button {
        padding: 0 .5em;
        height: 40px !important;
        width: 80px;
        font-size: 12px;
    }
}
