
<ion-header>
    <ion-navbar color="indigo">
        <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            City Guide
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showMap()">
                <ion-icon name="map"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content >
  <!--*********** List  ***********-->
    <ion-list>
        <ion-item tappable  *ngFor="let item of items" (click)="goToDetail(item.$key)">
            <ion-thumbnail item-left>
                <img [src]="item.imgSmall">
            </ion-thumbnail>
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
            <rating [ngModel]="item.rate"
                    readOnly="true" 
                    max="5" 
                    emptyStarIconName="star-outline" 
                    halfStarIconName="star-half" 
                    starIconName="star"
                    nullable="false"
                    (ngModelChange)="onModelChange($event)"> <!--use it when you need to do something when user clicks on a star. in case you only need to change ngModel property, this property can be ommited.-->
            </rating>  
        </ion-item>
    </ion-list>

</ion-content>
