  page-profile2 {

  .scroll-content{
    margin-top: 0 !important;
    padding-top: 44px;
  }

  .toolbar-title {
      color:#FFFFFF;
  }

  .profile-header{
      position: relative;
      height: 240px;
      // background: url(img/1.jpg) no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  .profile{
    position: relative;
  }
  .profile-box{
      position: absolute;
      padding:30px !important;
      top: -95px;
      width: 100%;
      z-index: 2;
      text-align: center;
  }
  .profile-image{
      width: 115px;
      height: 115px;
      margin: 0 auto 0;
          border-width: 3px;
      border-style: solid;
      border-color: rgb(255, 255, 255);
      border-image: initial;
  }
    #profile2-info {
    // position: absolute;
    //   top: 95px;
    //   z-index: 2;
      width: 100%;
      text-align: center;
    }
    #profile2-image {
      position: absolute;
      top: -10px;
      z-index: 2;
      // display: block;
      // border-radius: 50%;
      width: 115px;
      height: 115px;
      margin: 0 auto 0;
          border-width: 3px;
      border-style: solid;
      border-color: rgb(255, 255, 255);
      border-image: initial;
      // box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
    }

    .icon-align {
        -webkit-align-items:  flex-start !important;
        -ms-flex-align:  flex-start !important;
        align-items:  flex-start !important;
    }
    .opening-time ul{
       padding-left: 1.2em;
    }

    ion-list > .item:first-child, 
    ion-list > .item-block:first-child .item {
        border-bottom: none;
    }
    .list-ios > .item-block:first-child {
        /* border-top: 0.55px solid #c8c7cc; */
    }
    ion-list > .item:last-child, 
    ion-list > .item-block:last-child .item {
        border-bottom: none;
    }

    ion-title {
      color:#fff
    }


    button,
    ion-button,
    .button-md,
    .button-ios {
      text-transform: none !important;
    }
    p {
      color: #444;
    }
    // Cover image
    #profile2-bg {
      position: absolute;
      left: 0;
      width: 100%;
      margin-top: -16px;
      height: 240px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
    }
    // Profile content
    #content.profile2{
      position: relative;
      margin-top: 250px;
      padding-top: 200px;
      text-align: center;
    }




    #profile2-name {
      color: #444;
      font-size: 22px;
    }
    .profile2-description {
      font-size: 15px;
      color: #888;
    }
    .follow-button {
      text-transform: none;
      border-radius: 3px !important;
      ion-icon {
        font-weight: bold;
        padding-left: 5px;
        font-size: 2.5rem;
      }
    }
    // Following, Followers and all..
    .profile2-numbers {
      p {
        color: #444;
        font-size: 18px;
        margin-bottom: 3px;
      }
      span {
        font-weight: bold;
        font-size: 18px;
        color: #34354c;
      }
    }
    hr {
      border: 0;
      height: 1px;
      background: #444;
      background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
    }
    // Posts feed
    #posts {
      text-align: justify;
    }

  //************ Fading header  **********//
  .show-background{
    border-style: none;
    background : color($colors, green)
  }
  .transition{
     transition: font-size .3s ease-in;
  }

}
