<ion-menu [content]="content">
  <ion-content>

    <!--***********  Side menu for android ***********-->
    <div id="menu-material" showWhen="android">
      <ion-header class="menu-header">
        <img class="user-avatar round" src="./assets/default_profile.jpg" />
      </ion-header>
      <!--***********  Menu for android  ***********-->
      <div class="list-box">
        <ion-list no-lines>

          <div *ngFor="let m of myMenu">
            <ion-item menuClose (click)="openPage(m)">
              {{m.name}}
            </ion-item>
          </div>

        </ion-list>
      </div>
    </div>



    <!--***********  Header for ios ***********-->

    <div id="menu-ios" showWhen="ios" class="sideMenu-header" color="gray">
      <div class="menu-header">
        <img class="user-avatar round" src="./assets/default_profile.jpg" />
      </div>
      <!--***********  menu ***********-->
      <ion-list no-lines>
        <div *ngFor="let m of myMenu">
          <ion-item menuClose (click)="openPage(m)">
            {{m.name}}
          </ion-item>
        </div>

      </ion-list>
    </div>



    <!--***********  Side menu for PWA ***********-->
    <div id="menu-pwa" hideWhen="android,ios">
      <div class="menu-header">

        <img class="user-avatar round" src="./assets/default_profile.jpg" />

      </div>
      <div class="list-box">
        <ion-list no-lines>

          <div *ngFor="let m of myMenu">
            <ion-item menuClose (click)="openPage(m)">
              {{m.name}}
            </ion-item>
          </div>

        </ion-list>
      </div>
    </div>



  </ion-content>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
