page-register {
  ion-content {
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .scroll-content {
    margin-top: 0 !important;
  }
  .logo {
    width: 250px;
    margin: 7vh 0;
  }
  .error-message {
    height: 50px;
    p {
      text-align: right;
    }
    .item-inner {
      border-bottom-color: transparent !important;
      box-shadow: inset 0 -1px 0 0 transparent !important;
    }
  }
  ion-item {
    padding-left: 0px !important;
    background-color: transparent !important;
    font-size: 0.9em;
  }
  .item-inner {
    box-shadow: inset 0 -1px 0 transparent;
  }
  .login-container {
    position: absolute;
    top: 0;
    padding: 10vw;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
  }
}
