<ion-header>

  <ion-navbar>
    <ion-title>Tabs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- Text -->ฟหกฟหกฟหกฟห
    <ion-tabs>
    <ion-tab tabIcon="water" tabTitle="Water" [root]="tab1"></ion-tab>
    <ion-tab tabIcon="leaf" tabTitle="Life" [root]="tab2"></ion-tab>
    <ion-tab tabIcon="flame" tabTitle="Fire" [root]="tab3"></ion-tab>
    <ion-tab tabIcon="magnet" tabTitle="Force" [root]="tab4"></ion-tab>
  </ion-tabs>`
  <ion-tabs >
    <ion-tab tabTitle="Recents" ></ion-tab>
    <ion-tab tabTitle="Favorites"  tabBadge="23"></ion-tab>
    <ion-tab tabTitle="Settings" ></ion-tab>
  </ion-tabs>


  <!-- Icons -->
  <ion-tabs  selectedIndex="1" color="primary">
    <ion-tab tabIcon="call" ></ion-tab>
    <ion-tab tabIcon="heart" ></ion-tab>
    <ion-tab tabIcon="settings"  tabBadge="2" tabBadgeStyle="danger"></ion-tab>
  </ion-tabs>


  <!-- Icons on top of text -->
  <ion-tabs  selectedIndex="2" color="secondary">
    <ion-tab tabTitle="Location" tabIcon="navigate" ></ion-tab>
    <ion-tab tabTitle="Favorites" tabIcon="star"  tabBadge="12" tabBadgeStyle="dark"></ion-tab>
    <ion-tab tabTitle="Radio" tabIcon="musical-notes" ></ion-tab>
  </ion-tabs>


  <!-- Icons below text -->
  <ion-tabs  tabsLayout="icon-bottom" selectedIndex="1" color="danger">
    <ion-tab tabTitle="Recents" tabIcon="call"  tabBadge="47" tabBadgeStyle="light"></ion-tab>
    <ion-tab tabTitle="Favorites" tabIcon="heart" ></ion-tab>
    <ion-tab tabTitle="Settings" tabIcon="settings" ></ion-tab>
  </ion-tabs>


  <!-- Icons right of text -->
  <ion-tabs  tabsLayout="icon-right" selectedIndex="0" color="light">
    <ion-tab tabTitle="Recents" tabIcon="call" ></ion-tab>
    <ion-tab tabTitle="Favorites" tabIcon="heart" ></ion-tab>
    <ion-tab tabTitle="Settings" tabIcon="settings"  tabBadge="4" tabBadgeStyle="secondary"></ion-tab>
  </ion-tabs>


  <!-- Icons left of text -->
  <ion-tabs  tabsLayout="icon-left" color="dark">
    <ion-tab tabTitle="Recents" tabIcon="call"  tabBadge="1" tabBadgeStyle="danger"></ion-tab>
    <ion-tab tabTitle="Favorites" tabIcon="heart" ></ion-tab>
    <ion-tab tabTitle="Settings" tabIcon="settings" ></ion-tab>
  </ion-tabs>


  <!-- No icons -->
  <ion-tabs  tabsLayout="icon-hide">
    <ion-tab tabTitle="Recents" tabIcon="call" ></ion-tab>
    <ion-tab tabTitle="Favorites" tabIcon="heart"  tabBadge="61" tabBadgeStyle="dark"></ion-tab>
    <ion-tab tabTitle="Settings" tabIcon="settings" ></ion-tab>
  </ion-tabs>


  <!-- No overflow text -->
  <ion-tabs  color="primary">
    <ion-tab tabTitle="Indiana Jones and the Raiders of the Lost Ark" ></ion-tab>
    <ion-tab tabTitle="Indiana Jones and the Temple of Doom" ></ion-tab>
    <ion-tab tabTitle="Indiana Jones and the Last Crusade" ></ion-tab>
  </ion-tabs>

</ion-content>
