
<ion-content >
      <!--*********** Map wrapper  ***********-->
  <div id="wrapper">
        <!--*********** Map  ***********-->
         <div #map id="map"></div>

        <!--*********** Close button  ***********-->
        <div class="map-bottom request-controls">
            <ion-grid>
                <ion-row>
                    <ion-col >
                    <button ion-button block mode="ios" large color="ios-pink" (click)="dismiss()">Close</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>

