page-list-map1 {
 
  #wrapper { 
    position: relative;
    width: 100%;
    height: 100%;
  }
  .scroll-content {
    height: 100%
  }


  .map-bottom {
    position:absolute;
    padding:15px;
    bottom: 5px;
    width: 100%;
    z-index: 99; 
  }
  .request-controls{
    text-align: center;
  }

  #map {
    width: 100%;
    height: 100%;
  }
}
