<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title color="light">Transparent header</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <ion-card color="lightblue">
    <ion-card-header>
      Card header
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Title
      </ion-card-title>
      Some normal text in content.
      <h3>h3 in content</h3>
      <p>
        Paragraph in content.
      </p>
      <p>
        Another paragraph in content.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card color="lightblue">
    <ion-card-header>
      Card header
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Title
      </ion-card-title>
      Some normal text in content.
      <h3>h3 in content</h3>
      <p>
        Paragraph in content.
      </p>
      <p>
        Another paragraph in content.
      </p>
    </ion-card-content>
  </ion-card>


  <ion-card color="lightblue">
    <ion-card-header>
      Card header
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Title
      </ion-card-title>
      Some normal text in content.
      <h3>h3 in content</h3>
      <p>
        Paragraph in content.
      </p>
      <p>
        Another paragraph in content.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card color="lightblue">
    <ion-card-header>
      Card header
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        Title
      </ion-card-title>
      Some normal text in content.
      <h3>h3 in content</h3>
      <p>
        Paragraph in content.
      </p>
      <p>
        Another paragraph in content.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>