page-dog-search {
  ion-slides,
  .swiper-container {
    height: 300px;
    width: auto;
  }
  .swiper-slide {
    background-size: cover !important;
    background-position: center !important;
  }
  .content {
    background-color: color($colors,light) !important;
  }
  .swiper-pagination-bullet-active {
    background: color($colors, pink);
  }
  ion-card {
    margin: 0px 0px 30px 0px !important;
    width: 100% !important;
    border-radius: 0 !important;
  }
  .fit-screen {
    max-width: 100%;
    max-height: 100%;
  }
  p {
    &.age {
      font-weight: 500;
    }
  }
  .no-data-card {
    ion-icon {
      font-size: 5em;
      color: color($colors, danger);
    }
    h2 {
      font-size: 1.5em;
    }
  }
}
