<ion-header no-border class="dog-search-header">
  <ion-navbar color="white" style="background: none; border-bottom: none">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen="" no-paddding shrink-header [headerToHide]="'dog-search-header'">

  <dog-card *ngFor="let dog of dogs" [dog]="dog"></dog-card>

  <ion-card *ngIf="noDogsFound" class="no-data-card" padding>
    <ion-card-content text-center>
      <ion-icon name="alert"></ion-icon>
      <h2>Sorry! There are no dogs that match your decision.</h2>
    </ion-card-content>
  </ion-card>

</ion-content>
