page-create-dogs-profile {
  .toolbar-background, ion-content {
    background-color: color($colors, light) !important;
  }
  .item-divider {
    margin: 20px -20px 0;
    width: calc(100% + 40px);
    padding-left: 20px;
    font-size: 16px;
  }
}
