<ion-header no-border class="create-dog-header">
  <ion-navbar color="white" style="background: none; border-bottom: none">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Register Your Dog{{numberOfDogs > 1 ? 's' : ''}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-item>
      <ion-label floating>How Many Dogs?</ion-label>
      <ion-input name="numberOfDogs" type="number" [(ngModel)]="numberOfDogs" (ionChange)="addEmptyDogs(numberOfDogs)"></ion-input>
    </ion-item>
    <ion-row class="dog-info" *ngFor="let dog of dogs; let i = index">
      <h4 *ngIf="dogs.length > 1">{{i + 1 | countingConverter}} Dog</h4>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input name="dogName" [(ngModel)]="dog.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Breed</ion-label>
        <ion-select name="breed" [(ngModel)]="dog.breed" multiple="true">
          <ion-option [value]="breed" *ngFor="let breed of breeds">{{breed}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Eye Color</ion-label>
        <ion-input name="eyes" [(ngModel)]="dog.eyes"></ion-input>
      </ion-item>
      <ion-item-divider color="light">Birthday</ion-item-divider>
      <ion-item>
        <ion-label floating>Month</ion-label>
        <ion-select name="month" [(ngModel)]="dog.month" (ionChange)="createDays(dog.month)">
          <ion-option value="{{month.number}}" *ngFor="let month of months">{{month.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Day</ion-label>
        <ion-select name="day" [(ngModel)]="dog.day">
          <ion-option value="{{day}}" *ngFor="let day of days">{{day}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Year</ion-label>
        <ion-select name="year" [(ngModel)]="dog.year" (ionChange)="createDays(dog.month, dog.year)">
          <ion-option value="{{year}}" *ngFor="let year of years">{{year}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Neutered / Spayed</ion-label>
        <ion-toggle [(ngModel)]="dog.fixed"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="dog.fixed !== true">
        <ion-label>Willing to breed?</ion-label>
        <ion-toggle [(ngModel)]="dog.couldBreed"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Papered</ion-label>
        <ion-toggle [(ngModel)]="dog.papered"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="dog.papered">
        <ion-label>AKC Registered</ion-label>
        <ion-toggle [(ngModel)]="dog.registered"></ion-toggle>
      </ion-item>
      <ion-list radio-group [(ngModel)]="dog.gender">
        <ion-item>
          <ion-label>
            Male
            <ion-icon name="male" class="male"></ion-icon>
          </ion-label>
          <ion-radio value="male" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>
            Female
            <ion-icon name="female" class="female"></ion-icon>
          </ion-label>
          <ion-radio value="female"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label floating>About {{dog.name || 'Dog'}}</ion-label>
        <ion-textarea name="dogDescription" [(ngModel)]="dog.description"></ion-textarea>
      </ion-item>
    </ion-row>
    <button ion-button margin-top (click)="createProfile(dogs)" *ngIf="dogs.length >= 1">
      <span>All Done</span>
    </button>
  </ion-grid>
</ion-content>
