<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div>
    <h2>About Your Dog{{numberOfDogs > 1 ? 's' : ''}}</h2>
    <ion-item>
      <ion-label floating>How Many Dogs?</ion-label>
      <ion-input name="numberOfDogs" type="number" [(ngModel)]="numberOfDogs" (ionChange)="addEmptyDogs(numberOfDogs)"></ion-input>
    </ion-item>
    <div class="dog-info" *ngFor="let dog of dogs; let i = index">
      <h4 *ngIf="dogs.length > 1">{{i + 1 | countingConverter}} Dog</h4>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input name="dogName" [(ngModel)]="dog.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Breed</ion-label>
        <ion-select name="breed" [(ngModel)]="dog.breed" multiple="true">
          <ion-option [value]="breed" *ngFor="let breed of breeds">{{breed}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Eye Color</ion-label>
        <ion-input name="eyes" [(ngModel)]="dog.eyes"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Birthday</ion-label>
        <ion-input type="text" name="name" (click)="openCalendar(dog)" [(ngModel)]="dog.birthdate"></ion-input>
      </ion-item>
      <ion-list radio-group [(ngModel)]="dog.gender">
        <ion-item>
          <ion-label>
            Male
            <ion-icon name="male" class="male"></ion-icon>
          </ion-label>
          <ion-radio value="male" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>
            Female
            <ion-icon name="female" class="female"></ion-icon>
          </ion-label>
          <ion-radio value="female"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label>Neutered / Spayed</ion-label>
        <ion-toggle [(ngModel)]="dog.fixed"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Papered</ion-label>
        <ion-toggle [(ngModel)]="dog.papered"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="dog.papered">
        <ion-label>AKC Registered</ion-label>
        <ion-toggle [(ngModel)]="dog.registered"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label floating>About {{dog.description || 'Dog'}}</ion-label>
        <ion-textarea name="dogDescription" [(ngModel)]="dog.description"></ion-textarea>
      </ion-item>
    </div>
    <button ion-button (click)="createDogProfile(dogs)">Add My Dog{{numberOfDogs > 1 ? 's' : ''}}</button>
  </div>

  <!-- city, state, number of dogs to register -->
  <!-- DOG INFO: dog name, age, breed, gender, neutered / spayed, papered / registered -->
</ion-content>
