<header-bar [title]="'Register Your Dog' + (numberOfDogs > 1 ? 's' : '')" [hide-button]="true"></header-bar>
<ion-content no-padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>How Many Dogs?</ion-label>
        <ion-input name="numberOfDogs" type="number" [(ngModel)]="numberOfDogs" (ionChange)="addEmptyDogs(numberOfDogs)"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let dog of dogs; let i = index">
    <ion-card-header *ngIf="numberOfDogs > 1">
      {{i + 1 | countingConverter}} Dog
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input name="dogName" (ionChange)="checkForm(dogs)" [(ngModel)]="dog.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Breed</ion-label>
        <ion-select name="breed" (ionChange)="checkForm(dogs)" [(ngModel)]="dog.breed" multiple="true">
          <ion-option [value]="breed" *ngFor="let breed of breeds">{{breed}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Eye Color</ion-label>
        <ion-select name="eyes" (ionChange)="checkForm(dogs)"[(ngModel)]="dog.eyes">
          <ion-option [value]="eyes" *ngFor="let color of eyeColors">{{color}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Birthday</ion-label>
        <ion-datetime (ionChange)="checkForm(dogs)" [(ngModel)]="dog.birthdate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Gender</ion-label>
        <ion-select (ionChange)="checkForm(dogs)"[(ngModel)]="dog.gender">
          <ion-option value="female">Female</ion-option>
          <ion-option value="male">Male</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Neutered / Spayed</ion-label>
        <ion-select (ionChange)="checkForm(dogs)"[(ngModel)]="dog.fixed">
          <ion-option [value]="'true'">Neutered / Spayed</ion-option>
          <ion-option [value]="'false'">Intact</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="dog.fixed !== 'true'">
        <ion-label floating>Willing to breed?</ion-label>
        <ion-select (ionChange)="checkForm(dogs)"[(ngModel)]="dog.couldBreed">
          <ion-option [value]="'true'">Yes</ion-option>
          <ion-option [value]="'false'">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Papered</ion-label>
        <ion-select (ionChange)="checkForm(dogs)"[(ngModel)]="dog.papered">
          <ion-option [value]="'true'">Yes</ion-option>
          <ion-option [value]="'false'">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="dog.papered === 'true'">
        <ion-label floating>AKC Registered</ion-label>
        <ion-select (ionChange)="checkForm(dogs)"[(ngModel)]="dog.registered">
          <ion-option [value]="'true'">Yes</ion-option>
          <ion-option [value]="'false'">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>About {{dog.name || 'Dog'}}</ion-label>
        <ion-textarea name="dogDescription" (ionChange)="checkForm(dogs)" [(ngModel)]="dog.description"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div padding>
    <button ion-button block class="primary" (click)="createProfile(dogs)" [disabled]="this.invalidForm === true" *ngIf="dogs.length >= 1">
      <span>All Done</span>
    </button>
  </div>
</ion-content>
