<ion-header>
  <ion-navbar color="lightblue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Button</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  text-center>

  <h2>Shapes</h2>

  <button ion-button full color="bluegray">Full Button</button>

  <button ion-button block color="bluegray">Block Button</button>

  <button ion-button round color="bluegray">Round Button</button>


  <h2>Outlines</h2>

  <button ion-button color="secondary" full outline color="bluegray">Outline + Full</button>

  <button ion-button color="secondary" block outline color="bluegray">Outline + Block</button>

  <button ion-button color="secondary" round outline color="bluegray">Outline + Round</button>

  <h2>Icons</h2>

  <button ion-button icon-left color="bluegray">
    <ion-icon name="star"></ion-icon>
    Left Icon
  </button>

  <button ion-button icon-right color="bluegray">
    Right Icon
    <ion-icon name="star"></ion-icon>
  </button>

  <button ion-button icon-only color="bluegray">
    <ion-icon name="star"></ion-icon>
  </button>

  <button ion-button color="dark" clear icon-only>
      <ion-icon name='hammer' is-active="false"></ion-icon>
    </button>

  <h2>Sizes</h2>

  <button ion-button color="bluegray" large>Large</button>

  <button ion-button color="bluegray">Default</button>

  <button ion-button color="bluegray" small>Small</button>




  <h2>Colors</h2>

  <button ion-button color="red">Red </button>

  <button ion-button color="pink">Pink</button>

  <button ion-button color="deeppurple">Deeppurple</button>

  <button ion-button color="lightgreen">Lightgreen</button>

  <button ion-button color="amber">Amber</button>

  <button ion-button color="ios-blue">ios-blue</button>

  <button ion-button color="ios-pink">ios-pink</button>




</ion-content>